*{
    box-sizing: border-box;
    margin: 0px;
}

body{
   background-color: #bbbfbf;
}



                                          /* row 2 */

.nav{
    width: 100%;
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.contener{
    width: 10%;
    height: 70px;
    /* border: 1px solid black; */
}
.contener1{
    width: 15%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contener2{
    width: 35%;
    height: 70px;
    /* border: 1px solid black; */
}
.select{
    width: 10%;
    height: 40px;
    border: 1px solid white;
}
.all{
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
}
.input{
    width: 80%;
    height: 40px;
    /* border: 1px solid black; */
}
.Sarch{
    width: 100%;
    height: 100%;
}
.but{
    width: 100%;
    height: 100%;
     background-color: greenyellow;
}
.four_div{
    width: 35%;
    height: 70px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around; 
     align-items: center;
}
.div1{
    width: 25%;
    height: 70px;
    /* border: 1px solid white;  */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.flag{
    width: 25%;
    height: 30px;
    /* border: 1px solid white; */
}
.en{
    width: 25%;
    height: 30px;
    /* border: 1px solid white;   */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 10px;
    
    
}
.sos{
    width: 20%;
    height: 30px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;

}

.div4{
    width: 25%;
    height: 70px;
    /* border: 1px solid white;  */
    display: flex; 
    justify-content: center;
    align-items: center;
}
.nav p{
    color: white;
}
span{
    color: white;
}
/* nev */
.rowmain{
    width: 100%;
    height: 45px;
    /* border: 1px solid black; */
   display: flex;
}
.row2{
    width: 73%;
    height: 45px;
    /* border: 1px solid white; */
    display: flex;
   
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #232f3e;
}
.row3{
    width: 30%;
    height: 45px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;
    background-color: #232f3e;
}
a{
    color: rgb(255, 255, 255);
}
.modi{
   
    font-size: 14px;
    font-weight: bold;
}

.p3{
    font-size: 17px;
    color: white;
    font-weight: bold;
}








                                       /* .row3 */
 
.poster{
    width: 100%;
    height: 240px;
    /* border: 1px solid black; */
    margin-bottom: 100px;
}     
                                    /* row4*/
.box{ 

    width: 100%;
    height: 510px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #bbbfbf;
    /* margin: 3px; */
    margin-bottom: 30px;
    
    
}
.box1{
  width: 24.5%;  
  height: 500px;
  padding: 9px;
  /* border: 1px solid black; */
  /* margin-left: 9px;
  margin-right: 9px;  */
  background-color: white;
  /* display: flex; */
  
}
.boxh1{
    font-family:  Arial;
    width: 100%;
    height: 75px;
    /* border: 1px solid black; */

  
}
                            /* r1 */
.con1{
    display: flex;
    width: 100%;
    /* height: 200px; */
    /* border: 1px solid black; */
    
}  


.r1{
    width: 50%;
    height: 180px;
    /* margin-left: 4px; */
    margin: 7px;
    /* border:1px solid black ; */
    /* padding: 5px; */
    
}   
.r2{
    width: 50%;
    height: 170px;
    /* border:1px solid black ; */
    margin: 7px;
}  
.con2{
    display: flex;
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
  
} 
.r3{
    width: 50%;
    height: 180px;
    /* margin-left: 4px; */
    /* border:1px solid black ; */
    margin: 7px;
}      
.r4{
    width: 50%;
    height: 180px;
    /* border:1px solid black ; */
    margin: 7px;
}
.box p{
    font-size: 18px;
}

.box_2{
    width: 24.5%;  
    height: 500px;
    padding: 9px;
    /* border: 1px solid black; */
    /* margin-left: 9px;
    margin-right: 9px;  */
    background-color: white;
    /* display: flex; */
    
  }
  .box_3{
    width: 24.5%;  
    height: 500px;
    padding: 9px;
    /* border: 1px solid black; */
    /* margin-left: 9px;
    margin-right: 9px;  */
    background-color: white;
    /* display: flex; */
    
  }
  .box_4{
    width: 24.5%;  
    height: 500px;
    padding: 9px;
    /* border: 1px solid black; */
    /* margin-left: 9px;
    margin-right: 9px;  */
    background-color: white;
    /* display: flex; */
    
  }


                                                  /* box2 */

.sbox{
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #bbbfbf;
    margin: 3px;
    margin-top: -3px;
}
.box2{
    width: 24.5%;  
    height: 500px;
    padding: 9px;
    /* border: 1px solid black; */
    /* margin-left: 9px;
    margin-right: 9px; */
    background-color: white;
    /* display: flex; */
    
}
.box2_2{
    width: 24.5%;  
    height: 500px;
    padding: 9px;
    /* border: 1px solid black; */
    /* margin-left: 9px;
    margin-right: 9px; */
    background-color: white;
    /* display: flex; */
    
}
.box2_3{
    width: 24.5%;  
    height: 500px;
    padding: 9px;
    /* border: 1px solid black; */
    /* margin-left: 9px;
    margin-right: 9px; */
    background-color: white;
    /* display: flex; */
    
}
.box2_4{
    width: 24.5%;  
    height: 500px;
    padding: 9px;
    /* border: 1px solid black; */
    /* margin-left: 9px;
    margin-right: 9px; */
    background-color: white;
    /* display: flex; */
    
}
.sbox P{
    font-size: 18px;
    
}
.br{
    display: flex;
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
}
.br2{
    display: flex;
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
}
.bimg{
    width: 100%;
    
}
                                                 /* mobile */

.mobile{
    margin-top: 40px;
    width: 100%;
    height: auto;
    background-color: white;
    /* border: 1px solid black; */
}
.heading{
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
   display: flex;
   flex-wrap: wrap;
   /* justify-content: center; */
   align-items: center;
}
.moba{ color: red;
text-decoration: none;
}
.mobhed{
    margin-top: 10px;
    margin-left: 20px;
    color: red;
}
.mob{
  
    display: flex;
   width: 100%;
   height: 300px;
}
.mi{
    width: 17%;
    height: 300px;
    border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #c6dede;
  /* margin: 5px; */
 }
 .mi1{
    width: 17%;
    height: 100%;
    border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #c6dede;
  /* margin: 5px; */
 }
 .mi3{
    width: 17%;
    height: 100%;
    border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #c6dede;
  /* margin: 5px; */
 }
 .mi4{
    width: 17%;
    height: 100%;
    border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #c6dede;
  /* margin: 5px; */
 }
 .mi5{
    width: 17%;
    height: 100%;
    border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #c6dede;
  /* margin: 5px; */
 }
.mob2{
    display: flex;
}
.mi2{
    width: 17%;
    height: 155px;
    /* border: 1px solid black; */
    /* margin: 5px; */
    background-color: white;
    /* margin-top: 5px; */
}
.mi2_2{
    width: 17%;
    height: 155px;
    /* border: 1px solid black; */
    /* margin: 5px; */
    background-color: white;
    /* margin-top: 5px; */
}
.mi2_3{
    width: 17%;
    height: 155px;
    /* border: 1px solid black; */
    /* margin: 5px; */
    background-color: white;
    /* margin-top: 5px; */
}
.mi2_4{
    width: 17%;
    height: 155px;
    /* border: 1px solid black; */
    /* margin: 5px; */
    background-color: white;
    /* margin-top: 5px; */
}
.mi2_5{
    width: 17%;
    height: 155px;
    /* border: 1px solid black; */
    /* margin: 5px; */
    background-color: white;
    /* margin-top: 5px; */
}
.mi2_6{
    width: 17%;
    height: 155px;
    /* border: 1px solid black; */
    /* margin: 5px; */
    background-color: white;
    /* margin-top: 5px; */
}
.button{
    width: auto;
    height: 35px;
    background-color: #306e33;
    color: white;
}
.mob3{
    color: #CC0C39;
    font-size: 20px;

}


.mob4{
    font-size: 21px;
}
                                                /* fitness */

.fit{
    width: 100%;
    height: 350px;
    /* border: 1px solid black; */
    margin-top: 50px;
    background-color: white;
}    
.fitheading{
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}    
.fit2{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
}       
.fitimg{
    width: 17%;
    height: 270px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}    
.mar{
    margin-left: 20px;
    font-family:  Arial;
}   

a{
    text-decoration: none;
}       
.modi{
    /* font-size: 15px; */
    font-family: Arial;
}  
.fb{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   }                 

                                                            /* footer */

.footer{
    width: 100%;
    height: 460px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background-color: #232F3E;
    justify-content: space-around;
  
    color: white;
   }


.fot1{
    margin-top: 10px;
    width: 20%;
    height: 260px;
    /* border: 1px solid white; */
}
.fot{
    width: 100%;
    height: 40px;
    /* border: 1px solid white; */
    display: flex;
  
    justify-content: center;
}
.p{
    width: 100%;
    height: 100%;
    /* border: 1px solid white;   */
    display: flex;
    justify-content: center;

}
.Hello:hover{
    border: 1px solid white;
    
}
                                                                         /* mediya quree */                     


@media screen and (min-width:1024px) and (max-width:1440px){

.box{
    width: 100%;
    /* height: 800px; */
    /* border: 5px solid black; */
     
} 


}

@media screen and (min-width:768px) and (max-width:1024px){
 .mi,.mi1,.mi3,.mi4{
    width: 22%;
    height: 250px;
 } 
  .mi2,.mi2_2,.mi2_3,.mi2_4,.mi2_5{
    width: 22%;

    margin-top: -40px;
  }
  .mi2,.mi2_2,.mi2_3,.mi2_4,.mi2_5 {
    p{
        font-size: 20px;
    }
  }
  .mi2,.mi2_2,.mi2_3,.mi2_4,.mi2_5{
    span{
        font-size: 15px;
    }
  }
  
    .box_4{ 
        display: none;
    }
.box1{
    width: 32.5%;
    font-size: 15px;
    
}
.mi5{
    display: none;
}
.mi2_6{
    display: none;

}


.rowmain{
    display: none;
}
.box_2{
    
    width: 32.5%;
    font-size: 15px;
}
.box_3{
    width: 32.5%;
    font-size: 15px;
}
.box2_4{
    display: none;
}
.box2_3{
    width: 32.5%;
    font-size: 15px;
} 
.box2_2{
    width: 32.5%;
    font-size: 15px;
}
.box2{
    width: 32.5%;
    font-size: 15px;
}
.four_div{
    width: 35%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
}
.div1{
    display: none;
}

}

@media screen and (min-width:425px) and (max-width:768px){
  
    .contener1{
        display: none;
    }
    .select{
        display: none;
    }
 

.box_3{
    display: none;
   
}
.box2_3{
    display: none;
}
.box2_2{
    width: 45%;
    font-size: 15px;
}
.box2{
    width: 45%;
    font-size: 15px;
}
.box_2{
    
    width: 45%;
    font-size: 15px;
}
.box1{
    
    width: 45%;
    font-size: 15px;
}

}




@media screen  and (max-width:320px) {

    .rowmain{
    display: none;
}
 .four_div{
    display: none;
 }
 .select{
    display: none;
 }
 .contener1{
    display: none;
 }
 .contener{
    width: 30%;
 }
 .nav{
    display: flex;
justify-content: space-around;
 }
 .box{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    
 }
.box_3{
    width: 100%;
    margin-top: 5px;
}
.box_4{
    display: none;
}
.box_2{
    display: none;
}
.box1{
 width: 100%;
 width: 100%;
    font-size: 15px;
}
.box2{
    height: auto;
}
.box2_2{
    display: flex;
    flex-wrap: wrap;
   width: 100%;
   height: auto;
   margin-top: 5px;
}
.mobile{
    margin-top: 500px;
}
.box2_3{
    display: none;
}
.box2_4{
    display: none;
}
.box2{
    width: 100%;
    font-size: 15px;
}


.mobile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.mi4{
    display: none;
}
.mi3{
    display: none; 
}
.mi5{
    display: none;
}
.mi{
    display: none;
}
.mi1{
    width: 50%;
}
.mi2_5{
    display: none;
}
.mi2_4{
    display: none;
}
.mi2_3{
    display: none;
}
.mi2_2{
    display: none;
}
.mi2,.mi2_6{
    width: 50%;
    p{
        font-size: 15px;
    }
    span{
        font-size: 15px;
    }
}
.mar{
    font-size: 15px;
}
.fit{
    height: auto;
    
}
.fit2{
    height: auto;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.fitimg{
    width: 100%;

    margin: 5px;
    /* border: 1px solid black; */
}
.mobhed{
    font-size: 12px;
}
.footer{
    display: none;
}
}